body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cont {
	width: 650px;
}

table {
	background-color: #12233a !important;
	border-radius: 1rem !important;
	overflow: hidden;
	padding-left: 20px !important;

	thead {
		background-color: #1a2f4b;
	}

	thead th {
		color: white;
		font-weight: 500;
	}

	tr {
		line-height: 30px;
		height: 51.5px;
	}

	td,
	th {
		color: #6f8fbb;
		text-align: center;
		font-weight: 500;
		border-color: #495971;
		vertical-align: baseline;
	}

	button {
		border-radius: 2px;
		border: 0;
		width: 90px;
		height: 30px;
		background: #12233a;
		color: inherit;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
	}
}

.button-gradient {
	border-radius: 2px;
	width: 94px;
	height: 34px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(90deg, rgba(116, 74, 255, 1) 0%, rgba(123, 207, 255, 1) 100%);
	transition: background 0.5s;

	&:hover {
		background-position: 94px;
	}
}

.chg-up {
	color: #2db071 !important;
}

.chg-down {
	color: #b02d2d !important;
}

.table-dark {
	color: #1a2f4b;
	--bs-table-bg: transparent;
	--bs-table-hover-bg: #1a2f4b;
	--bs-table-hover-color: #6f8fbb;
}
